/java/HelloWorld/nbproject/private/
/java/HelloWorld/build/
/java/HelloWorld/dist/
/java/CollegeDemo/nbproject/private/
/java/CollegeDemo/build/
/java/JavaApplication3/nbproject/private/
/java/JavaApplication4/nbproject/private/
/java/JavaApplication4/build/
